.quote{
width: 60%;
margin-top: 30%;
margin-left: 2%;
text-align: bottom;
}
html{
    font-family: "raleway", san-serif;
}

.clock{
    width: 90%;
    justify-content: center;
        font-size: 60px; /* Adjust the font size as needed */
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        margin-left: 50px;
}

